html, body {
	background-color: #F3F3F3;
}

section#body {
	margin-top: 60px;
}

textarea {
	min-height: 200px;
}

.mt-15 {
	margin-top: 15px;
}

.modal-dialog.modal-full-width {
	width: 90%;
}

.modal-dialog.modal-full-width .modal-content {
	width: 100%;
}

.navbar-brand {
	padding-top: 10px;
}

.navbar-brand img {
	width: 30px;
}

.form-control:focus {
  border-color: #EB7B14;
  box-shadow: inset 0 1px 1px rgba(235, 123, 20, 0.7), 0 0 8px rgba(235, 123, 20, 0.7);
}

.btn-ages-pr {
	background-color: #4F4F9C;
}

.btn-ages-sc {
	background-color: #EB7B14;
}

.password-change{
	display: none !important;
}

.btn-ages-pr,
.btn-ages-sc,
.btn-ages-pr:hover,
.btn-ages-sc:hover,
.btn-ages-pr:focus,
.btn-ages-sc:focus
{
	color: #ffffff;
}

.btn-ages-pr:hover {
	background-color: #EB7B14;
}

.blue-ages {
	color: #4F4F9C;
}

.orange-ages {
	color: #EB7B14;
}

#titulo-cadastro-idealizador {
	margin-top: 50px;
}

#form-cadastro-idealizador {
	margin-top: 20px;
}

#loadingWrapper {
	opacity: 0.3;
	background: black;
	position: absolute;
	width: 100%;
	height:100%;
	top: 0;
	z-index: 999999;

}

.btn-perfil-senha {
	margin: auto;
    width: 35%;
    font-size: 14px;
}

#forgotPasswordLink {
	color: #428bca;
    margin-left: 20px;
}

.font-size-14 {
    font-size: 14px;
}
